<section id="customProduct-{{ section.id }}" class="page-width custom-product" data-section="{{ section.id }}">

  <div class="product">
    <div class="product__features features" style="background-color: rgb(0, 0, 0);">
      <div class="feature-box">
        <div class="feature-text">
          <h2 class="feature__heading">Why Watking ?</h2>
          <div class="feature__divider">-</div>
          <p class="feature__description">Official Herschel stockist Australian warranty assistance support Australian
            shipping returns. Customer first experience Environmentally focused</p>
        </div>
      </div>

      <div class="feature-box">
        <div class="feature-text">
          <h2 class="feature__heading">Returns</h2>
          <div class="feature__divider">-</div>
          <p class="feature__description">
            Return this product within 100 days if you change your mind. Get a refund/replacement & free return shipping
            if it arrives damaged or not as described.
          </p>
        </div>
      </div>

      <div class="feature-box">
        <div class="feature-text">
          <h2 class="feature__heading">Shipping</h2>
          <div class="feature__divider">-</div>
          <p class="feature__description">
            Free if stated near price. $9.95 Australia wide (up to 10 items). $18.95 for Express Post (generally 1
            business day).
          </p>
        </div>
      </div>

    </div>
    <div class="product__media" style="background-color: green;">
      <div class="product__featured-image_container">
        <img class="product__featured-image" src="https://via.placeholder.com/502x600" />
      </div>
      <div class="product__thumbnails">
        <div class="product__thumbnail-container">
          <img class="product__thumbnail" src="https://via.placeholder.com/120x120" />
        </div>
        <div class="product__thumbnail-container">
          <img class="product__thumbnail" src="https://via.placeholder.com/120x120" />
        </div>
        <div class="product__thumbnail-container">
          <img class="product__thumbnail" src="https://via.placeholder.com/120x120" />
        </div>
        <div class="product__thumbnail-container">
          <img class="product__thumbnail" src="https://via.placeholder.com/120x120" />
        </div>
      </div>
    </div>
    <div class="product__form" style="background-color: pink;">
      <div class="product_title-box">
        <h1 class="product__title">Gunmetal Variable</h1>
        <div class="product__prices">
          <p class="product__price">
            <strong>$180.00 USD</strong>
          </p>
        </div>
      </div>
      <div class="variants-picker">
        <fieldset class="vp-swatch vp-swatch--size">
          <legend class="vp-label">
            <span></span>Size
          </legend>
          <label for="size-41" class="vp_size-label">41</label>
          <input type="radio" name="size" id="size-41" class="vp-input" value="41">
          <label for="size-42" class="vp_size-label">42</label>
          <input type="radio" name="size" id="size-42" class="vp-input" value="42">
        </fieldset>
        <fieldset class="vp-swatch vp-swatch--color">
          <legend class="vp-label">
            <span></span>Color
          </legend>
          <label for="color-1" class="vp_color-label" style="background-color: #4682B4;"></label>
          <input type="radio" name="color" id="color-1" class="vp-input" value="#4682B4">
          <label for="color-2" class="vp_color-label" style="background-color: #006400;"></label>
          <input type="radio" name="color" id="color-2" class="vp-input" value="#006400">
          <label for="color-3" class="vp_color-label" style="background-color: #000080;"></label>
          <input type="radio" name="color" id="color-3" class="vp-input" value="#000080">
          <label for="color-4" class="vp_color-label" style="background-color: #A52A2A;"></label>
          <input type="radio" name="color" id="color-4" class="vp-input" value="#A52A2A">
        </fieldset>
      </div>
      {% form 'product', product %}
        <input type="hidden" name="id" value="45764158980417" class="product-variant-id" wfd-id="id17">
        <div class="product_bottom">
          <button type="submit" class="product-btn product-btn--add-to-cart">
            <span>Add to Cart</span>
          </button>
          <quantity-input class="quantity">
            <button class="quantity__button no-js-hidden disabled" name="minus" type="button">
              <span class="visually-hidden">Decrease quantity for ZL02 IWO Smart Watch Men Fitness Tracker</span>
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-minus"
                fill="none" viewBox="0 0 10 2">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z"
                  fill="currentColor"></path>
              </svg>
            </button>
            <input class="quantity__input" type="number" name="quantity" id="Quantity-template--20185763152193__main"
              data-cart-quantity="0" data-min="1" min="1" step="1" value="1"
              form="product-form-template--20185763152193__main" max="null" wfd-id="id14">
            <button class="quantity__button no-js-hidden" name="plus" type="button">
              <span class="visually-hidden">Increase quantity for ZL02 IWO Smart Watch Men Fitness Tracker</span>
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-plus"
                fill="none" viewBox="0 0 10 10">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001 .01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z"
                  fill="currentColor"></path>
              </svg>
            </button>
          </quantity-input>
        </div>
      {% endform %}
    </div>
  </div>
</section>


<script>
  console.log("heeeeey")
  const product = {{product | json}}
  console.log("product ", product)
</script> 

<style>
  /* General styles */
.product {
  background: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product>div {
  height: 100%;
  width: 25%;
  padding: 2rem;
}

.product>div:not(.product__features) {
  flex: 1;
}

/* Features boxes */
.feature-box {
  border: 1px solid #8C8C8C;
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature__heading {
  color: #EEE;
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.feature__divider {
  border-bottom: 1px solid #DDAC55;
  width: 42px;
  height: 1px;
}

.feature__description {
  color: #E9E7E7;
  font-family: Jost;
  font-size: 12px;
  font-weight: 400;
}

/* Media Container */
.product__featured-image_container {
  width: 100%;
  height: 400px;
  margin-bottom: 1rem;
}

.product__featured-image_container img {
  width: 100%;
  height: 100%;
}

.product__thumbnails {
  display: flex;
  gap: 1rem;
  justify-content: center;
  cursor: pointer;
}

.product__thumbnail-continer {
  width: 85px;
}

.product__thumbnail {
  width: 100%;
}

/* Form Container */
.product__title {
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  text-transform: capitalize;
}

.product__price {
  color: #C79B59;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.product_title-box {
  border-bottom: 1px solid #E7E7E7;
}

.product .variants-picker legend {
  color: #FFF;
  font-family: Jost;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product .variants-picker input[type="radio"] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.variants-picker legend {
  margin-bottom: 1.2rem;
}

.vp-swatch--size,
.vp-swatch--color {
  display: flex;
  border: none;
  padding: 0;
  margin-top: 2.2rem;
}

.product .variants-picker label {
  background: #000000;
  border-radius: 999rem; /* A very large value to approximate a circle */
  border: 1px solid #ffffff; /* Replace Infinityrem with a valid border width */
  padding: 0.5rem; /* Replace Infinityrem with a valid padding value */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  font: 600 14px / 1.2 "Jost", sans-serif; /* Replace Infinityrem with a valid font size */
  text-transform: uppercase;
  margin-right: 5px;
}

.variants-picker .vp_size-label {
  border-radius: 5px !important;
}

.variants-picker .vp_color-label {
  width: 20px;
  height: 20px;
}

.product-btn--add-to-cart {
  display: flex;
  min-width: 200px;
  padding: 13px 0;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #C79B59;
}

.product-btn--add-to-cart span {
  color: #C79B59;
  text-align: center;
  font-family: Jost;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

legend span:empty {
  width: 24px;
  height: 1px;
  border-bottom: 2.5px solid #DDAC55;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 3px;
}

.product_bottom {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

/* Responsive styles for 1000 screen width */
@media only screen and (max-width: 1000px) {
  .product .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .feature-box {
    max-width: 340px;
    margin: 1rem;
  }
}

/* Responsive styles for 751 screen width */
@media only screen and (max-width: 751px) {
  .product>div:not(.product__features) {
    width: 100%;
    flex: none;
  }

  .product__featured-image_container {
    height: 350px;
    margin: auto;
    width: clamp(20rem, 30rem, 35rem);
  }

  .product__thumbnails {
    display: none;
  }
}

</style>

{% schema %}
{
"name": "Custom Product Page",
"settings": [],
"presets": [
{
"name": "Custom Product Page",
"category": "Custom"

}
]

}
{% endschema %}